.app-header {
    height: 50px;
    padding: 0 20px;
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
}

.about span {
    padding: 0 5px;
}