.nav {
    min-width: 120px;
    text-align: center;
    padding-top: 20px;
}

.nav > ul {
    padding: 0;
}

.nav > ul > li {
    line-height: 40px;
    padding: 3px;
    margin: 3px 0;
    list-style: none;
    cursor: pointer;
}

.nav > span {
    font-size: 20px;
    color: #e01f54;
    font-weight: bolder;
}


.nav > ul > li:hover {
    background-color: #e01f54;
    color: #fff;
    border-radius: 5px;
}

.active-li {
    background-color: #e01f54;
    color: #fff;
    border-radius: 5px;
}