.nav {
    display: flex;
    align-items: center;
    padding: 0 0.4rem;
    background-color: #458fd2;
    color: #fff;
}

.nav > ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav > ul > li {
    list-style: none;
    margin: 0.02rem;
}

.nav > ul > li > a {
    display: inline-block;
    line-height: 0.4rem;
    padding: 0.01rem;
    cursor: pointer;
    width: 0.6rem;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
}

.nav > span {
    font-size: 0.2rem;
    color: #fff;
    font-weight: bolder;
    margin-right: 0.2rem;
}


.nav > ul > li:hover {
    background-color: #31a1fa;
    font-weight: 800;
    font-size: 0.13rem;
}

.active-li {
    background-color: #31a1fa;
    color: #fff;
    font-weight: 800;
    font-size: 0.13rem;
}

/*屏幕小于800*/
@media screen and (max-width: 800px) {
    .nav {
        padding: 0;
        justify-content: center;
    }

    .nav > span {
        display: none;
    }

    .nav > ul {
        overflow-x: auto;
    }
}