.newItem {
    flex-grow: 1;
    display: flex;
    width: 50%;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.newItem a {
    font-size: 20px;
    color: #222;
    font-weight: 700;
    text-decoration: none;
    width: 80%;
    word-break: break-all;
}

.newItem a:hover {
    color: #3300CC;
}

.newItem a:visited {
    color: #406598;
}

.newItem span.time {
    color: #909090;
    font-size: 14px;
    margin-left: 5px;
}

.newItem span.index {
    color: blue;
}
