.newItem {
    flex-grow: 1;
    display: flex;
    width: 50%;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0.2rem 0;
}

.newItem a {
    color: #222;
    font-weight: 700;
    text-decoration: none;
    width: 80%;
    word-break: break-all;
}

.newItem a:hover {
    color: #3300CC;
}

.newItem a:visited {
    color: #406598;
}

.newItem span.time {
    color: #909090;
    font-size: 0.1rem;
    margin-left: 0.05rem;
}

.newItem span.index {
    color: #ccc;
}

@media screen and (max-width: 800px) {
    .newItem {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .time {
        margin-left: 0.01rem;
    }
}
