.newItem {
    flex-grow: 1;
    display: flex;
    width: 49%;
    align-items: center;
    padding: 0.15rem;
    margin: 0.04rem;
    border: 0.01rem solid #ececec;
}

.newItem:hover {
    border: 0.01rem solid #e4e0e0;
    box-shadow: 0 0 0.01rem 0.01rem rgba(105, 105, 105, 0.12);
}

.newItem a {
    color: #222;
    font-weight: 700;
    text-decoration: none;
    width: 80%;
    word-break: break-all;
}

.newItem a:hover {
    color: #3300CC;
}

.newItem a:visited {
    color: #406598;
}

.newItem span.time {
    color: #909090;
    font-size: 0.1rem;
    margin-left: 0.05rem;
}

.newItem span.index {
    color: #ccc;
}

.github {
    flex-direction: column;
    align-items: flex-start;
    color: #586069
}

/*标题的颜色*/
.github > div:first-child {
    color: #222
}

/*行间隔*/
.github > div {
    margin-bottom: 0.05rem;
    word-break: break-all;
}

/*星及语言外层*/
.github > .starWrap {
    display: flex;
    align-items: center;
}

/**/
.github > .starWrap > div {
    display: flex;
    align-items: center;
}

/*语言*/
.language {
    display: flex;
    align-items: center;
}

.language > span {
    height: 0.12rem;
    width: 0.12rem;
    border-radius: 50%;
    background-color: #f34b7d;
    margin: 0 0.05rem;
}

@media screen and (max-width: 800px) {
    .newItem {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .time {
        margin-left: 0.01rem;
    }
}
